* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vh;
    height: 100vw;
}

.header {
    width: 100vw;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}
.side-menu {
    width: 184px;
    height: 98.4px;
    padding: 10px;
}
.side-button {
    font-size: 30px;
    width: 50px;
    height: 40px;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    background-color: aquamarine;
    transition: all 0.4s ease-in-out;
    color: white;
}

.side-button img {
    width: 20px;
}

.side-button:hover {
    background-color: aliceblue;
}

.div-header {
    width: 30%;
    text-align: center;
}

.div-header input {
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    background-color: aquamarine;
    transition: all 0.4s ease-in-out;
}

.div-header input:hover {
    background-color: aliceblue;
}

.div-header h1 {
    font-size: 50px
}

.buttons-header {
    padding: 10px;
}

.buttons-header button {
    width: 80px;
    height: 30px;
    background-color: aquamarine;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: white;
}

.buttons-header button:hover {
    background-color: aliceblue;
}

.line {
    height: 0.5px;
}

.section-buttons {
    width: 100vw;
    display: flex;
    gap: 20px;
    padding: 5px;
    background-color: aquamarine;
}

.section-buttons button {
    width: 80px;
    font-size: 20px;
}

section {
    display: flex;
    justify-content: center;
}
.slide-of-images {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-color: burlywood;
}
.main {
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 10px;
   width: 100vw;
   height: 81%;
}

.main section {
    height: 80%;
}

main .first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: rgb(132, 41, 216);
}

.images-of-creatines, .images-of-outfits, .images-of-varied {
    display: flex;
    gap: 100px;
}

main .first-section .first-image-creatines {
    background-color: white;
}

main .second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: rgb(0, 187, 106);
}

main .third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: rgb(112, 124, 21);
}

footer {
    width: 100vw;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
}

