* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vh;
    height: 100vw;
}

.header {
    width: 100vw;
    background-color:#474747;
    display: flex;
    justify-content: space-between;
}
.side-menu {
    width: 184px;
    height: 98.4px;
    padding: 10px;
}
.side-button {
    font-size: 30px;
    width: 50px;
    height: 40px;
    border: 2px solid #ffffff;
    border-radius: 20px;
    cursor: pointer;
    background-color #ffffff;
    transition: all 0.4s ease-in-out;
    color: #ffffff;
}

.side-button img {
    width: 20px;
}

.side-button:hover {
    opacity: 50%;
}

.div-header {
    width: 30%;
    text-align: center;
    padding-top: 10px;
}

.div-header input {
    width: 250px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 30px;
    cursor: text;
    text-align: center;
    background-color: #ffffff;
    transition: all 0.4s ease-in-out;
}

.div-header input:hover {
    background-color: aliceblue;
}

.div-header h1 {
    font-size: 50px;
    color: #ffffff;
}

.div-header h1 strong {
    color: red;
}
.buttons-header {
    padding: 10px;
}

.buttons-header button {
    width: 80px;
    height: 30px;
    background-color: #ffffff;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: #000000;
}

.buttons-header button:hover {
    
    opacity: 50%;
}

.line {
    height: 0.5px;
}

.section-buttons {
    width: 100vw;
    display: flex;
    gap: 20px;
    padding: 5px;
    background-color: #7d7c7c;
}

.section-buttons button {
    width: 150px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.section-buttons button:hover {
    color: #ffffff;
}

section {
    display: flex;
    justify-content: center;
}
.slide-of-images {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.slide-of-images img {
    width: 100%;
    height: 100%;
}
.main {
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 10px;
   width: 100vw;
   height: 81%;
   background-color: #ffffff;
}

.main section {
    height: 80%;
}

main .first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images-of-creatines section {

    border: 1px solid #7d7c7c;
    height: 400px;
    display: flex;
    flex-direction: column;
}
.images-of-creatines section .btn-img-h2 {
    display: flex;
    flex-direction: column;
}
.images-of-creatines section img {
    height: 100px;
    width: 50%;
}

.first-section h2 {
    font-size: 30px;
    color: #ffffff;
}

.images-of-creatines, .images-of-outfits, .images-of-varied {
    display: flex;
    gap: 100px;
}

main .second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #ffffff;
    z-index: -1; /* Provisório */
}

main .third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: rgb(112, 124, 21);
}

footer {
    width: 100vw;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
}

